*{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #CCC;
    padding: 10px 0;
}
#wrapper div{
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: solid black 2px;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 10px grey;
}
#wrapper div div{
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    border: solid black 2px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 grey;
}
#wrapper div div span.parell{
    color: red;
    font-size: 25px;
    font-style: italic;
}
#wrapper div div span.imparell{
    color: green;
    font-size: 30px;
}
#botons{
    width: 20%;
    border: solid black 1px;
    border-radius: 12px;
    margin: 10px auto;
    padding: 20px;
}
#botons input{
    padding: 10px;
}
#botons input:hover{
    background-color: green;
    color: white;
}